*{margin: 0;box-sizing: border-box;}

.Table{
    float: left;
    width: 80%;
    margin: 30px 10%;
    text-align: center;
}

.Table table{
    width: 100%;
    border: none;
}

.Table table thead td{
    background: rgb(47, 43, 43);
    color: #fff;
    font-weight: bold;
}

.Table table tbody td:nth-child(2n){
    background: #ccc;
    
}